# Virtual environments
venv/
ml_env/
ocr_env/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Environment files
.env

# OCR / ML models
root/
qwen_embedding_model/

# Large model files
*.zip
*.tar
*.pth
*.pt
*.onnx

# Logs & temp
*.log

# OS files
.DS_Store
Thumbs.db

*.ipynb
